

.comp-cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;

    animation: animar-cabecalho 1s ease 0s 1 normal forwards;

    
    @keyframes animar-cabecalho {
        0% {
            transform: translateY(-6em);
        }
    
        100% {
            transform: translateY(0px);
        }
    }

    .bem-vindo {
        font: 700 18px 'Inter';
        color: #7C7C7C;
    }

    .usuario {
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #7773F2;
        border-radius: 100%;
        
        font: 500 20px 'Inter';
        color: #fff;

        height: 50px;
        width: 50px;
    }
}